mat-sidenav-container {
  height: 100%;
}
#themeWrapper {
  height: calc(100% - 64px);
}
@media (max-width: 599px) {
  #themeWrapper {
    height: calc(100% - 54px);
  }
}
mat-sidenav {
  width: 200px;
}
