<div ng-controller="IntentCtrl" style="padding-top: 12px; padding-bottom: 12px">
	<div class="w3-bar">
		<input type="text" class="w3-border w3-bar-item" style="height: 40px; width: 150px;" ng-model="name">
		<input type="text" class="w3-border w3-bar-item" style="margin-left: 12px; height: 40px; width: 600px;" ng-model="sentences">
		<input type="text" class="w3-border w3-bar-item" style="margin-left: 12px; height: 40px; width: 150px;" ng-model="entities">
		<p class="w3-bar-item w3-border" style="margin-left: 2px; width: 40px; height: 40px; margin-top: 0;" ng-click="intentService.addIntent({name:name, sentences:sentences, entities:entities})" onmouseenter="this.prevBackgroundColor = this.style.backgroundColor; this.style.backgroundColor = '#afceff'" onmouseleave="this.style.backgroundColor = this.prevBackgroundColor;">
			<b style="color: green; width: 40px; height: 100%; margin-left: auto; margin-right: auto;">&#10003;</b>
		</p>
	</div>
	<table class="w3-table w3-striped w3-border w3-center" style="padding-bottom: 8px;">
		<tr>
			<th style="width: 150px"> {{ clOneName }}</th>
			<th style="width: auto"> {{ clTwoName }} <span style="font-size: 10px">(Trennzeichen ist das Semikolon --> ; <--)</span></th>
			<th style="width: 150px"> {{ clThreeName }}</th>
			<th style="width: 40px"></th>
		</tr>
		<tr ng-repeat="intent in intentService.getIntents()">
			<td ng-if="$odd" style="background-color:white"> {{ intent.name }} </td>
			<td ng-if="$even" style="background-color:#f1f1f1"> {{ intent.name }} </td>
			<td ng-if="$odd" class="w3-bar" style="background-color:white; width: 100%;" ng-dblclick="toggle($event, this)">
				<div class="w3-bar-item w3-bar-block">
					<span class="w3-bar-item" style="padding: 0;" ng-repeat="sentence in intent.sentences"> {{ sentence }} </span>
				</div>
				<input class="w3-bar-item w3-border" style="display: none; width: 100%;" ng-model="sentences"/>
			</td>
			<td ng-if="$even" class="w3-bar" style="background-color:#f1f1f1; width: 100%;" ng-dblclick="toggle($event, this)">
				<div class="w3-bar-item w3-bar-block">

					<span class="w3-bar-item" style="padding: 0;" ng-repeat="sentence in intent.sentences"> {{ sentence }} </span>
				</div>
				<input class="w3-bar-item w3-border" style="display: none; width: 100%;" ng-model="sentences"/>
			</td>
			<td style="width: 30%;" ng-dblclick="toggle($event, this, true)">
				<div class="w3-bar-item w3-bar-block">

					<span class="w3-bar-item" style="padding: 0;" ng-repeat="entity in intent.entities"> {{ entity }} </span>
				</div>
				<input class="w3-bar-item w3-border" style="display: none; height: 40px; float: left; width: calc(100% - 40px)" ng-model="entities"/>
				<p class="w3-bar-item w3-border" ng-click="updateIntent($event, this)" style="padding-top: 8px; text-align: center; float: left; width: 40px; height: 40px; margin-top: 0; display: none;" onmouseenter="this.prevBackgroundColor = this.style.backgroundColor; this.style.backgroundColor = '#afceff'" onmouseleave="this.style.backgroundColor = this.prevBackgroundColor;">
					<b style="color: green; width: 40px; height: 100%; margin-left: auto; margin-right: auto;">&#10003;</b>
				</p>
			</td>
			<!-- for deletion of intent -->
			<td class="w3-border" ng-click="forSure(intent)" onmouseenter="this.prevBackgroundColor = this.style.backgroundColor; this.style.backgroundColor = '#afceff'" onmouseleave="this.style.backgroundColor = this.prevBackgroundColor;">
				<b style="color: red; width: 30px; height: auto; margin-left: auto; margin-right: auto;">&times;</b>
			</td>
		</tr>
	</table>
</div>