<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="conApp" xmlns="http://www.w3.org/1999/xhtml">
	<title>Conversation - Dashboard</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- This header is for upgrading http connections to https-->
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="static/css/common.css">
	<style>
		div[ng-view] {
			width: 80% !important;
			margin-left: auto;
			margin-right: auto;
		}
	</style>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gojs/1.8.16/go-debug.js"></script> -->
	<body>
        <!-- Left Sidebar-->
		<div id="sidebar-left" class="w3-sidebar w3-display-container w3-bar-block w3-card w3-animate-left" style="display:none; box-shadow: grey 7px 0px 20px; z-index: 101;">
			<button id="closeNav-left" class="w3-bar-item w3-button w3-large w3-hover-orange" onclick="w3_close(event)">Schließen <b style="color: red;">&times;</b></button>
		  <hr style="margin: 0;" size="4"/>
		  <a href="#/intents" class="w3-bar-item w3-button">Intents</a>
		  <a href="#/entities" class="w3-bar-item w3-button">Entities</a>
		  <a href="#/node-editor" class="w3-bar-item w3-button">Node Editor</a>
		</div>
        <!-- Right Sidebar-->
		<div ng-controller="SidebarRightCtrl" id="sidebar-right" class="w3-sidebar w3-display-container w3-right w3-bar-block w3-card w3-animate-right" style="display:none; margin-left:75%; background-color: #a5c7ff; box-shadow: grey -7px 0 20px; animation-direction: alternate; z-index: 101">
		  	<button id="closeNav-right"class="w3-bar-item w3-button w3-large w3-hover-orange" onclick="w3_close(event)">Schließen <b style="color: red;">&times;</b></button>
			<hr style="margin: 0;" />
			<h3 class="w3-bar-item"><b>IWIBot -</b> Chatte mit dem Bot</h3>
            <div id="chat_history" class="w3-container w3-bar-item" style="max-height: 640px; overflow-y: scroll">
                <div class="message w3-bar-block message-left">
                    <pre class="w3-left w3-bar-item">Hallo, mein Name ist Claudio. Wie kann ich Ihnen helfen?</pre>
                    <span class="w3-bar-item"> {{ '{{ now() }}' }} </span>
                </div>
            </div>
			<h6 class="w3-bar-item w3-display-bottomright w3-right" style="margin-bottom: 100px; width: auto; top: auto;">Dr&uuml;cke STRG + Enter zum absenden</h6>
		  	<textarea class="w3-input w3-border w3-gray w3-display-bottommiddle" style="resize: none; height: 100px; overflow: hidden; top: auto;" type="text" name="message" id="message" ng-keydown="handleKeyDown($event)" ng-keyup="handleKeyUp($event)"> </textarea>
		</div>

		<div id="main" style="overflow: auto;">
            <!-- Navigation-->
			<nav id="navbar" ng-controller="NavbarCtrl" class="w3-bar w3-teal" style="height: 90px; position: fixed; z-index: 100;">
				<button id="openNav-left" class="w3-bar-item w3-button w3-teal w3-xlarge" style="margin-left: 0px;" onclick="w3_open(event)">&#9776;</button>
				<h1 class="w3-bar-item">Dashboard</h1>
				<button id="openNav-right" class="w3-bar-item w3-right w3-button w3-teal w3-xlarge" style="margin-left: 0px;" onclick="w3_open(event)">&#9776;</button>
                <button class="w3-bar-item w3-right w3-button w3-xlarge" ng-click="trainIntents()"><b>Intents<br/>trainieren</b></button>
                <button class="w3-bar-item w3-right w3-button w3-xlarge" ng-click="trainEntities()"><b>Entities<br/>trainieren</b></button>
				<button class="w3-bar-item w3-right w3-button w3-xlarge" ng-click="train()"><b>trainieren</b></button>
			</nav>

			<!-- The DIV for a Diagram needs an explicit size or else we will not see anything.
				 In this case we also add a background color so we can see that area. -->
			<!-- <div id="diagramDiv" style="width:1600px; height:650px; background-color: #DAE4E4; margin-left: auto; margin-right: auto;"></div> -->
			<div ng-view style="width: 100%; height: 100%; padding-top: 90px;">
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-route.js"></script>
		<script src="static/js/app.js"></script>
		<script src="static/js/module.js"></script>
		<!--<script src='js/jquery.keyframes.js'></script>-->
	</body>
</html>
